<H1 style="text-align: center;">Đây là giỏ hàng của bạn</H1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>STT</th>
            <th>Sản phẩm</th>
            <th>Số lượng</th>
            <th>Giá</th>
            <th>Thành tiền</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="sp in giohang">
            <td>{{$index +1}}</td>
            <td>
                <img src="{{sp.anh}}" class="img-fluid img-thumbnail" style="width:100px">
                {{sp.ten}}
            </td>
            <td>
                <input class="form-control" type="number" ng-model="sp.soluong">
            </td>
            <td>
                {{sp.giakhuyenmai}}
            </td>
            <td>
                {{sp.soluong * sp.giakhuyenmai}}
            </td>
            <td>
                <button ng-click="xoa(sp.id)" class="btn btn-outline-warning btn-sm">xóa</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" class="text-end">TỔNG THÀNH TIỀN</td>
            <td>{{tinhTongThanhTien()}}</td>
            <td>
                <button ng-click="xoaHet()" class="btn btn-outline-warning btn-sm">xóa hết</button>
            </td>
        </tr>
    </tfoot>
</table>